/* .container {
  
  width: 575px;
  height: 825px;

  background-color: #797978;
  padding-left: 30px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.container {
  width: 700px;
  height: 600px;
  background: linear-gradient(135deg, #4c8bf5, #6fd1c7);
  align-items: center;
  border: 2px solid gray;
  border-radius: 15px;
}
h1 {
  text-align: center;
  padding-top: 30px;
}
form{
  padding-left: 20px;
}
.input-group {
 
  margin-bottom: 15px;
  text-align: left;
}
p{
  /* font-size: 20px; */
  color: grey;
}

label {
  padding: 10px;
  display: block;
  font-size: 14px;
  color: #555;
}

input {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 40%;
  padding: 12px;
  margin-top: 15px;
  background: #4c8bf5;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  background: #3a6edb;
}
#weight-guide {
  margin-left: 30px;
  margin-top: 25px;
  font-size: 25px;
  color: #fff;
  row-gap: 20px;
  
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}
